---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Me">
  <h1>About This Website</h1>
  <p>This is where you can write about yourself or your project.</p>
  <p>Because this page uses the main layout, the header and footer will automatically appear here. You only need to worry about writing the content for this specific page.</p>
</Layout>
