---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Layout title="My Sveltia Blog">
    
    <h1>My Sveltia Blog</h1>
    <p>This is my new blog, managed with Sveltia CMS!</p>
    
    <ul>
        {posts.map((post) => (
            <li>
                <!-- 5. CORRECTED THE LINK TO USE BASE_URL -->
                <a href={`${import.meta.env.BASE_URL}/blog/${post.slug}/`}>{post.data.title}</a>
            </li>
        ))}
    </ul>

</Layout>
