---
// src/components/Header.astro
---
<header>
  <div>
    <p>Il Mio Logo</p>
  </div>
  <nav>
    <a href={`${import.meta.env.BASE_URL}/`}>Home</a>
    <a href={`${import.meta.env.BASE_URL}/chi-sono/`}>Chi Sono</a>
    <a href={`${import.meta.env.BASE_URL}/trattamenti/`}>Trattamenti</a>
    <a href={`${import.meta.env.BASE_URL}/contatti/`}>Contatti</a>
  </nav>
  <div>
    <button>Prenota</button>
  </div>
</header>
