---
// src/components/ProblemiTrattati.astro
---
<section id="pathologies">
  <div class="container">
    <h2>Patologie Trattate</h2>
<br><br>
    <div class="content-grid">
      <div class="card">
        <h3>Disturbi della Colonna</h3>
        <ul>
          <li>Lombalgie e Lombosciatalgie</li>
          <li>Cervicalgie e Cervicobrachialgie</li>
          <li>Ernie e Protrusioni discali</li>
        </ul>
      </div>

      <div class="card">
        <h3>Patologie Articolari</h3>
        <ul>
          <li>Periartrite scapolo-omerale</li>
          <li>Conflitto sub-acromiale</li>
          <li>Coxartrosi e Gonartrosi</li>
        </ul>
      </div>

      <div class="card">
        <h3>Disfunzioni Muscolari</h3>
        <ul>
          <li>Sindrome dello stretto toracico</li>
          <li>Contratture e Stiramenti</li>
          <li>Cefalea muscolo-tensiva</li>
        </ul>
      </div>
      
      <div class="card">
        <h3>Alterazioni Posturali</h3>
        <ul>
          <li>Iperlordosi e Ipercifosi</li>
          <li>Scoliosi funzionale</li>
          <li>Piede piatto e Ginocchia valghe</li>
        </ul>
      </div>
    </div>
  </div>
</section>
