---
// src/components/ProblemiTrattati.astro
---
<section id="problemi">
  <div class="container">
    <h2>🩺 Problemi e Patologie Trattate</h2>
    <div class="grid-container">
      
      <div class="grid-item">
        <h3>Vertebrali</h3>
        <ul>
          <li>Lombalgie</li>
          <li>Lombosciatalgie</li>
          <li>Cervicalgie</li>
          <li>Cervicobrachialgie</li>
        </ul>
      </div>

      <div class="grid-item">
        <h3>Articolari</h3>
        <ul>
          <li>Periartrite scapolo-omerale</li>
          <li>Coxartrosi</li>
          <li>Gonartrosi</li>
        </ul>
      </div>
      
      <div class="grid-item">
        <h3>Muscolari</h3>
        <ul>
          <li>Sindrome degli scaleni</li>
          <li>Sindrome dello stretto toracico</li>
          <li>Sindrome dell’angolare della scapola</li>
        </ul>
      </div>

      <div class="grid-item">
        <h3>Dismorfiche / Posturali</h3>
        <ul>
          <li>Iperlordosi e Ipercifosi</li>
          <li>Scoliosi</li>
          <li>Ginocchia valghe</li>
          <li>Piede piatto o cavo</li>
        </ul>
      </div>
      
    </div>

    <div class="associated-disorders">
      <h3>Altri Disturbi Associati</h3>
      <p>Mal di testa (cefalea muscolo-tensiva)</p>
    </div>
  </div>
</section>
