---
// src/components/Testimonianze.astro
---
<section>
  <h2>Cosa dicono di me</h2>
  <figure>
    <blockquote>
      <p>"Recensione di un paziente molto soddisfatto..."</p>
    </blockquote>
    <figcaption>- Nome Paziente</figcaption>
  </figure>
  <figure>
    <blockquote>
      <p>"Un'altra recensione positiva..."</p>
    </blockquote>
    <figcaption>- Altro Paziente</figcaption>
  </figure>
</section>
